<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bookmarks/main.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body>
         <div id="container">
            <nav>
                <a href="{% url 'authenticationapp:index' %}">all apps</a>
                <a href="{% url 'bookmarks:index' %}">bookmark folders</a>
                <div class="logout">
                    <a href="{% url 'authenticationapp:logout' %}">logout</a>
                </div>
            </nav>
             <aside>
                 <div class="title">sort by</div>
                 <a href="{% url 'bookmarks:folders' %}?sort=name">name</a>
                 <a href="{% url 'bookmarks:folders' %}?sort=-created">created</a>
                 <a href="{% url 'bookmarks:folders' %}?sort=-modified">modified</a>
             </aside>
            <main>
                {% block content %}

                {% endblock %}
            </main>
            <footer>
                {% block footer %}

                {% endblock %}
            </footer>
        </div>
    </body>
</html>