<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bookmarks/main.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body>
         <div id="container">
            <nav>
                <a href="{% url 'authenticationapp:index' %}">all apps</a>
                <a href="{% url 'bookmarks:index' %}">bookmark folders</a>
                <form style="align-self: center;" method="GET" id="filter_form">
                    {% if name != "" %}
                    <input style="padding:0.5em" type="text" placeholder="Search" name="name" value="{{name}}">
                    {% else %}
                    <input style="padding:0.5em" type="text" placeholder="Search" name="name">
                    {% endif %}
                    <select style="padding:0.5em" name="sort">
                        <option value="-created" {% if sort == "-created" %} selected {% endif %}>Sort by last created</option>
                        <option value="-modified" {% if sort == "-modified" %} selected {% endif %} >Sort by last modified</option>
                        <option value="name" {% if sort == "name" %} selected {% endif %} >Sort by name</option>
                    </select>
                    <input type="submit" style="padding:0.5em">
                </form>
                <div class="logout">
                    <a href="{% url 'authenticationapp:logout' %}">logout</a>
                </div>
            </nav>
             <aside class="l_aside">
                 {% block aside %}

                 {% endblock %}
             </aside>
            <main>
                {% block content %}

                {% endblock %}
            </main>
             <aside class="r_aside">
                 {% block r_aside %}

                 {% endblock %}
             </aside>
            <footer>
                {% block footer %}

                {% endblock %}
            </footer>
        </div>
    </body>
</html>
