{% extends 'bookmarks/base.html' %}
{% load static %}
{% block aside %}
     <div class="title">sort by</div>
     <a href="{{ request.path }}?sort=name">name</a>
     <a href="{{ request.path }}?sort=-created">created</a>
     <a href="{{ request.path }}?sort=-modified">modified</a>
{% endblock %}

{% block content %}
    <div class="bookmarks">
        {% for bookmark in bookmarks %}
            <div class="bookmark">
                <div class="name">{{ bookmark.name }}</div>
                <a href="{{ bookmark.url }}">{{ bookmark.url }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
<span>
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous and sort %}
                <a href="?sort={{sort}}&page={{ page_obj.previous_page_number }}">Previous</a>
            {% elif page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next and sort %}
                <a href="?sort={{sort}}&page={{ page_obj.next_page_number }}">Next</a>
            {% elif page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Previous</a>
            {% endif %}
        </span>
    </div>
{% endif %}
</span>
<span>Copyright &copy; 2019</span>
{% endblock %}
