{% extends 'bookmarks/base.html' %}
{% load static %}
{% block content %}
    <form method="Post" id="form1">
        {% csrf_token %}
    </form>
    <div id="bookmarks" style="height: 90vh;justify-content: center;align-items: center;">
            <div id="bookmark" style="display: grid;height: 30vh;align-items: center;">
                <h3>Edit Bookmark</h3>
                <div>Name:
                    <input name="name" type="text" form="form1" value="{{ form.name.value }}">
                </div>
                <div>URL:
                    <input name="url" type="url" form="form1" value="{{ form.url.value }}">
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <input type="submit" form="form1" value="Submit">
                    <a href="{% url 'bookmarks:bookmark-delete' slug=object.folder.slug pk=object.id%}">
                        <button>Delete</button>
                    </a>
                    <!--<input type="submit" value="Delete">-->
                </div>

                    {% block invalid %}

                    {% endblock %}
            </div>
    </div>
{% endblock %}

{% block footer %}
<span>Copyright &copy; 2019</span>
{% endblock %}