{% extends 'bookmarks/base.html' %}
{% load static %}
{% block aside %}
     <div class="title">sort</div>
     <a href="{{ request.path }}?sort=name">name</a>
     <a href="{{ request.path }}?sort=-created">created</a>
     <a href="{{ request.path }}?sort=-modified">modified</a>
{% endblock %}

{% block content %}
    <div class="bookmarks">
        {% for bookmark in bookmarks %}
            <div class="bookmark">
                <div class="name">{{ bookmark.name }}</div>
                <a href="{{ bookmark.url }}">{{ bookmark.url }}</a>
                <a href="{{ bookmark.id }}/edit/" style="text-align: right;">Edit</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block r_aside %}
    <div id="title">Actions</div>
    <a href="create/">New Bookmark</a>
    <a href="{% url 'bookmarks:create-folder' %}">New Folder</a>
    <a href="edit/">Edit Folder</a>
{% endblock %}

{% block footer %}
<span>
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous%}
            <button name="page" value="{{ page_obj.previous_page_number }}" form="filter_form" >Previous</button>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
               <button name="page" value="{{ page_obj.next_page_number }}" form="filter_form" >Next</button>
            {% endif %}
        </span>
    </div>
{% endif %}
</span>
<span>Copyright &copy; 2019</span>
{% endblock %}
