{% extends 'bookmarks/base.html' %}
{% load static %}
{% block content %}
<form method="Post" id="form1">
    {% csrf_token %}
</form>
    <div class="folders">
            <div id ="folder" class="folder">
                <a>
                    <i class="fas fa-folder"></i>
                </a>
                <div id="folder-content" class="folder-content">
                    {% block invalid %}

                    {% endblock %}
                    <div class="name">Name:</div>
                    <input type="text" form="form1" name="name" value="{{form.name.value}}">
                    <div style="display: flex; flex: auto; justify-content: space-between;">
                        <input type="submit" form="form1" value="Save">
                        <a href="{% url 'bookmarks:folder-delete' pk=object.id %}" style="text-align: center">
                        <button>Delete</button>
                        </a>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

{% block footer %}
<span>Copyright &copy; 2019</span>
{% endblock %}