@font-face {
    font-family: 'Ubuntu';
    font-style: regular;
    font-weight: 400;
    src: local('Ubuntu regular'), local('Ubuntu regular'), url(Ubuntu-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: bold;
    font-weight: 700;
    src: local('Ubuntu bold'), local('Ubuntu bold'), url(Ubuntu-Bold.ttf) format('truetype');
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: #ECE5F0;
    font-family: 'Ubuntu', sans-serif;
}
#container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 60px 1fr 50px;
    grid-template-areas: 'nav nav'
                         'aside main'
                         'aside footer';
}
nav{
    height: 60px;
    border-bottom: 1px solid black;
    grid-area: nav;
    display: flex;
    background: #CECCCC;
    letter-spacing: 1px;
}

nav a{   
    display: flex;
    align-items: center;
    color: blue;
    text-transform: capitalize;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    transition: all;
    transition-duration: 0.3s;
}
.logout{
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
}
nav a:hover{
    background: #605F5E;
    border-bottom: 10px solid red;
    color: white;
    font-size: 30px;
    
}
aside{
    border-right: 1px solid black;
    grid-area: aside;
    background: #CECCCC;
    display: flex;
    flex-direction: column;
}
aside>.title{
    padding: 0 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
    text-align: center;
    color: black;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size:1.4em;
}
aside>a{
    border-bottom: 1px solid black;
    text-decoration: none;
    padding: 0.5em;
    font-size:1.2em;
    color: blue;
    text-align: center;
    transition-property: all;
    transition-duration: 0.3s;
}
aside>a:hover{
    background: #605F5E;
    border-right: 10px solid red;
    color: white;
    font-size: 25px;
}
.sidebar{
    display: flex;
    flex-direction: column;
}
footer{
    grid-area:footer;
    display: gird;
}

footer span{
    display: flex;
    flex: 1 1 auto;
    color: green;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
main{
    grid-area:main;
}
main >.folders{
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}
main >.folders >.folder{
    margin: 0.6em;
    padding: 1em;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all ease;
    transition-duration: 0.3s;
}
main >.folders >.folder> .folder-content{
    display: flex;
}
 main >.folders >.folder:hover
{
    font-size: 1.2em;
    border-radius: 1em;
    background: #D0D1CF;
    box-shadow:0 0 25px 4px blue;
}
main .folders .folder .folder-content .count{
    margin-left: auto;
}
main> .folders> .folder > a> i{
    color: black;
    font-size:10em;
}
main >.bookmarks >.bookmark{
    background: #CECCCC;
    margin: 0.6em;
    padding: 0.6em;
    transition-property: all;
    transition-duration: 1s;
}
main >.bookmarks >.bookmark >.name{
    margin: 0.3em;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
}
main >.bookmarks >.bookmark >a{
    margin: 0.3em;
    display: block;
    text-decoration: none;
}
main >.bookmarks >.bookmark:hover{
    background: #605F5E;
    border-left: 10px solid red;
    font-size: 1.3em;
}
main >.bookmarks >.bookmark:hover >.name,
main >.bookmarks >.bookmark:hover >a{
    font-size: 1.3em;
    color: white;
}

