<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bookmarksapp/main.css' %}">
        <link rel="stylesheet" href="{% static 'bookmarksapp/all.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
         <div id="container">
            <nav>
                <a href="{% url 'authenticationapp:index' %}">all apps</a>
                <a href="{% url 'bookmarksapp:index' %}">bookmark folders</a>
                <div class="logout">
                    <a href="{% url 'authenticationapp:logout' %}">logout</a>
                </div>
            </nav>
             <aside>
                 {% block sidebar %}

                 {% endblock %}
             </aside>
            <main>
                {% block content %}

                {% endblock %}
            </main>
            <footer>
                <span>Copyright &copy; 2018</span>
            </footer>
        </div>
    <script>
        plus =  document.getElementById('icon');
        content = document.getElementById('create');
        plus.addEventListener("click", function(){
            content.innerHTML = `
                <i class="fas fa-folder"></i>
                <input type="text" id="text_field" name="name" form="form1">
                <input type="submit" id="btn" form="form1">
            `;
        });
    </script>
    </body>
</html>
