{% extends 'bookmarksapp/base.html' %}
{% load static %}
{% block sidebar %}
     <div class="title">sort by</div>
     <a href="{{ request.path }}?sort=name">name</a>
     <a href="{{ request.path }}?sort=-created">created</a>
     <a href="{{ request.path }}?sort=-modified">modified</a>
{% endblock %}

{% block content %}
    <div class="bookmarks">
        {% for bookmark in bookmarks %}
            <div class="bookmark">
                <div class="name">{{ bookmark.name }}</div>
                <a href="{{ bookmark.url }}">{{ bookmark.url }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}