{% extends 'bookmarksapp/base.html' %}
{% load static %}
{% block content %}
    <div class="folders">
        {% for folder in folders %}
            <div class="folder">
                <a href="{{ folder.slug }}">
                    <i class="fas fa-folder"></i>
                </a>
                <div class="folder-content">
                    <div class="name">{{folder.name}}</div>
                    <div class="count">{{folder.folder.count}}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}